/* 
    Document   : general
    Created on : May 7, 2013, 3:29:57 PM
    Author     : tyler
    Description:
        Purpose of the stylesheet follows.
*/

/*##############################*/
/*###########  Body  ###########*/

body {
    
    background-image: url("../img/Web_Bg.png");
    background-repeat: repeat-x;
    background-color: #F2F0DC;
    margin:0px;
    padding:0px;
    /*background:url(images/main-bg.gif) 0 0 repeat-x #F2F0DC;*/
    color:#5D5B46;
    font:14px/18px Georgia, "Times New Roman", Times, serif;
}

/*##############################*/
/*########  mainHeader  ########*/

#mainHeader {
    width:778px;
    height:141px;
    margin:0 auto;
    font:14px/18px Arial, Helvetica, sans-serif;
}

#mainHeader a {
    width:100%;
    display:block;
    position:relative;
    top:10px;
}

#mainHeader .logo {
    margin-left: auto;
    margin-right: auto;
    width:600px;
    height:100px;
    display: block;
}

/*##############################*/
/*#########  mainBody  #########*/

#mainBody {
    margin-top: 15px;
    border-top: 15px solid #414042;
}

#mainBodyAdd {
    width:878px;
    position:relative;
    margin:0 auto;
    padding:10px 0 0 8px;
}

.mainBodyAddSect{
    width:425px;
    float:left;
    background:url("../img/bodybottombg.gif") 0 0 no-repeat #FEFDF0;
    color:#D80000;
    border-bottom:1px solid #CDCAA3;
    border-left:1px solid #CDCAA3;
    border-right:1px solid #CDCAA3;
    
}

.mainBodyAddSect h2{
    width:200px;
    height:58px;
    padding:0 0 0 65px;
    margin:22px 0 0 41px;
    font:26px/54px "Trebuchet MS",Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.mainBodyAddSect p.add{
    width:270px;
    height:21px;
    padding:0px;
    margin:10px 0 25px 50px;
    margin-left: auto;
    margin-right: auto;
}

.mainBodyAddSect p.add a{
    
    color:#fff;
    width:270px;
    height:21px;
    display:block;
    background:url("../img/bottom-more-bg.gif") 0 0 no-repeat #FEFDF1;
    font:13px/20px "Trebuchet MS",Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
}

.mainBodyAddSect p.add a:hover{
    background:url("../img/bottom-more-bg.gif") 0 0 no-repeat #FEFDF1;
    color:#FDF6B6;
    text-decoration:none;
}

#mainBodyAddLeft{
    margin:0px;
}
#mainBodyAddLeft h2{
    background:url("../img/message.png") 0 0 no-repeat;
}

#mainBodyAddRight{
    margin:0 0 0 16px;
}
#mainBodyAddRight h2{
    background:url("../img/series.png") 0 0 no-repeat;
}


#mainBodyArea {
    padding-top: 10px;
    width: 870px;
    background:url("../img/bodybg.gif") 0 0 no-repeat #FEFDF0;
    margin: 30px auto 10px;
}

#mainBodyArea h2{
    color:#D80000;
    width: 100%;
    font:26px/54px "Trebuchet MS",Arial, Helvetica, sans-serif;
    text-align: center;
}

#mainBodyArea h2 a {
    font:14px "Trebuchet MS",Arial, Helvetica, sans-serif;
}
#mainBodyArea h2 a:link { color:#D85555; }
#mainBodyArea h2 a:visited { color:#D85555; }
#mainBodyArea h2 a:hover { color:#D80000; }
#mainBodyArea h2 a:active { color:#D80000; }

#mainBodyArea h3{
    width: 100%;
    font:20px/50px "Trebuchet MS",Arial, Helvetica, sans-serif;
    text-align: center;
}

#mainBodyArea table{
    margin: auto;
    width: 600px;
    text-align: center;
}


#mainBodyArea table td{
    width: 200px;
}

#mainBodyArea p{
    padding: 15px;
}


.styledForm{
margin:0 auto;
width:750px;
padding:14px;
}
.styledForm table{
    /*table-layout: fixed;*/
    width: 100%;
}
.styledForm .td1{
    width: auto !important;
}
.styledForm .td2{
    width: 410px !important;
}
.styledForm h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
.styledForm p{
font-size:11px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
.styledForm label{
display:block;
font-weight:bold;
text-align:center;
width: 100%;
}
.styledForm .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:center;
width:100%;
}
.in{
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:250px;
margin:2px 0 20px 10px;
}

.styledForm input.btn{
clear:both;
display: block;
margin-left: auto;
margin-right: auto;
width:125px;
height:40px;
background-color: #666666;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}

.fileInStyleMainPan{
    height:280px;
    width:405px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}
.fileInStylePreviewPan {
    cursor: pointer;
    z-index: 7777;
    opacity: 0;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: -280px;
    padding: 0;
    height:270px;
    width:395px;
    text-align: center;
}
.fileInStylePreview{
    max-height:275px;
    max-width:405px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    vertical-align: middle;
}
.fileInStyleStylePan{
    z-index: 999;
    margin: 5px;
    padding: 0;
    height:270px;
    width:395px;
    background-color: #e5e5e5;
    border: 2px dashed #bbb;
}
.fileInStyleStylePanTxt{
    cursor: pointer;
    width: 100%;
    font:18px/90px "Trebuchet MS",Arial, Helvetica, sans-serif;
    text-align: center;
}
.fileInStyleInputPan{
    display: block;
    cursor: pointer;
    z-index: 9999;
    opacity: 0;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: -275px;
    padding: 0;
    height:270px;
    width:395px;
}


/*##############################*/
/*########  mainFooter  ########*/

#mainFooter {
    min-height: 50px;
}



/*##############################*/
/*########    popBox    ########*/

.popBox {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: black;
    opacity: .9;
}
.popBoxContent {
    position: absolute;
    margin: auto;
    padding: 0px;
    z-index: 999999;
    background-color: white;
    opacity: 1;
 width:600px;
 left:50%;
 margin-left:-300px;
 height:100px;
 top:50%;
 margin-top:-50px;
 text-align: center;
 border-radius: 10px;
}
::-webkit-file-upload-button { cursor:pointer; }